In [20]:
import pandas as pd
import plotly.express as px
import sqlalchemy
import pymongo

In [21]:
matdf = pd.read_csv(r'/Users/burnesbrown1/Documents/Coding Temple/Coding_Temple_Two/MongoDB/student+performance/student/student-mat.csv', delimiter =";")
matdf

pordf = pd.read_csv('/Users/burnesbrown1/Documents/Coding Temple/Coding_Temple_Two/MongoDB/student+performance/student/student-por.csv', delimiter =";")
pordf

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

View the data

In [22]:
matdf.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

Format column names

In [23]:
matdf.columns = matdf.columns.str.lower()
matdf.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'pstatus', 'medu', 'fedu',
       'mjob', 'fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'dalc',
       'walc', 'health', 'absences', 'g1', 'g2', 'g3'],
      dtype='object')

In [24]:
matdf.rename(columns={'famsize':'fam_size','medu':'m_edu','pedu':'p_edu','mjob':'m_job','fedu':'f_edu','traveltime':'travel_time','studytime':'study_time',
                   'schoolsup':'schools_sup','famsup':'fam_sup','famrel':'fam_rel','freetime':'free_time','goout':'go_out',
                    'g1':'g_1','g2':'g_2','g3':'g_3','dalc':'d_alc','walc':'w_alc','fjob':'f_job','pstatus':'p_status'}, inplace= True)
matdf.columns

Index(['school', 'sex', 'age', 'address', 'fam_size', 'p_status', 'm_edu',
       'f_edu', 'm_job', 'f_job', 'reason', 'guardian', 'travel_time',
       'study_time', 'failures', 'schools_sup', 'fam_sup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'fam_rel',
       'free_time', 'go_out', 'd_alc', 'w_alc', 'health', 'absences', 'g_1',
       'g_2', 'g_3'],
      dtype='object')

View object types

In [25]:
matdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   school       395 non-null    object
 1   sex          395 non-null    object
 2   age          395 non-null    int64
 3   address      395 non-null    object
 4   fam_size     395 non-null    object
 5   p_status     395 non-null    object
 6   m_edu        395 non-null    int64
 7   f_edu        395 non-null    int64
 8   m_job        395 non-null    object
 9   f_job        395 non-null    object
 10  reason       395 non-null    object
 11  guardian     395 non-null    object
 12  travel_time  395 non-null    int64
 13  study_time   395 non-null    int64
 14  failures     395 non-null    int64
 15  schools_sup  395 non-null    object
 16  fam_sup      395 non-null    object
 17  paid         395 non-null    object
 18  activities   395 non-null    object
 19  nursery      395 non-null    object
 20  higher       395 non-null    object
 21  internet     395 non-null    object
 22  romantic     395 non-null    object
 23  fam_rel      395 non-null    int64
 24  free_time    395 non-null    int64
 25  go_out       395 non-null    int64
 26  d_alc        395 non-null    int64
 27  w_alc        395 non-null    int64
 28  health       395 non-null    int64
 29  absences     395 non-null    int64
 30  g_1          395 non-null    int64
 31  g_2          395 non-null    int64
 32  g_3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

Clean second dataframe

In [26]:
pordf.columns = pordf.columns.str.lower()
pordf.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'pstatus', 'medu', 'fedu',
       'mjob', 'fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'dalc',
       'walc', 'health', 'absences', 'g1', 'g2', 'g3'],
      dtype='object')

In [27]:
pordf.rename(columns={'famsize':'fam_size','medu':'m_edu','pedu':'p_edu','mjob':'m_job','fedu':'f_edu','traveltime':'travel_time','studytime':'study_time',
                   'schoolsup':'schools_sup','famsup':'fam_sup','famrel':'fam_rel','freetime':'free_time','goout':'go_out',
                    'g1':'g_1','g2':'g_2','g3':'g_3','dalc':'d_alc','walc':'w_alc','fjob':'f_job','pstatus':'p_status'}, inplace= True)
pordf.columns

Index(['school', 'sex', 'age', 'address', 'fam_size', 'p_status', 'm_edu',
       'f_edu', 'm_job', 'f_job', 'reason', 'guardian', 'travel_time',
       'study_time', 'failures', 'schools_sup', 'fam_sup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'fam_rel',
       'free_time', 'go_out', 'd_alc', 'w_alc', 'health', 'absences', 'g_1',
       'g_2', 'g_3'],
      dtype='object')

In [28]:
pordf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   school       649 non-null    object
 1   sex          649 non-null    object
 2   age          649 non-null    int64
 3   address      649 non-null    object
 4   fam_size     649 non-null    object
 5   p_status     649 non-null    object
 6   m_edu        649 non-null    int64
 7   f_edu        649 non-null    int64
 8   m_job        649 non-null    object
 9   f_job        649 non-null    object
 10  reason       649 non-null    object
 11  guardian     649 non-null    object
 12  travel_time  649 non-null    int64
 13  study_time   649 non-null    int64
 14  failures     649 non-null    int64
 15  schools_sup  649 non-null    object
 16  fam_sup      649 non-null    object
 17  paid         649 non-null    object
 18  activities   649 non-null    object
 19  nursery      649 non-null    object
 20  higher       649 non-null    object
 21  internet     649 non-null    object
 22  romantic     649 non-null    object
 23  fam_rel      649 non-null    int64
 24  free_time    649 non-null    int64
 25  go_out       649 non-null    int64
 26  d_alc        649 non-null    int64
 27  w_alc        649 non-null    int64
 28  health       649 non-null    int64
 29  absences     649 non-null    int64
 30  g_1          649 non-null    int64
 31  g_2          649 non-null    int64
 32  g_3          649 non-null    int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB

In [29]:
totaldf = [matdf, pordf]

student_performance = pd.concat(totaldf)

student_performance

,school,sex,age,address,fam_size,p_status,m_edu,f_edu,m_job,f_job,...,fam_rel,free_time,go_out,d_alc,w_alc,health,absences,g_1,g_2,g_3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [30]:
student_performance.to_csv('student_per.csv', index=False)

In [31]:
con_str = 'mongodb+srv://harriswn:WhitneyB@records.qcyrqlm.mongodb.net/?retryWrites=true&w=majority'
import pymongo
client = pymongo.MongoClient(con_str)

In [37]:
db = client.db
mongodb = db.mongodb

In [38]:
mongodb.insert_many(df.to_dict(orient="records"))

ServerSelectionTimeoutError: ac-np7g318-shard-00-02.qcyrqlm.mongodb.net:27017: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1000),ac-np7g318-shard-00-00.qcyrqlm.mongodb.net:27017: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1000),ac-np7g318-shard-00-01.qcyrqlm.mongodb.net:27017: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1000), Timeout: 30s, Topology Description: <TopologyDescription id: 653ed8d7ac695fcd4e38474f, topology_type: ReplicaSetNoPrimary, servers: [<ServerDescription ('ac-np7g318-shard-00-00.qcyrqlm.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('ac-np7g318-shard-00-00.qcyrqlm.mongodb.net:27017: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1000)')>, <ServerDescription ('ac-np7g318-shard-00-01.qcyrqlm.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('ac-np7g318-shard-00-01.qcyrqlm.mongodb.net:27017: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1000)')>, <ServerDescription ('ac-np7g318-shard-00-02.qcyrqlm.mongodb.net', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('ac-np7g318-shard-00-02.qcyrqlm.mongodb.net:27017: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1000)')>]>